<% /* %>
<div class="infoSection">
<div id="PGPicksInstructions">Pick Instructions NO DATA</div>
<div id="PGPickSectionsContainer">
<div id="PGHomeTeam"><%= game["TeamNameA"] %></div>
<div id="PGVS">VS</div>
<div id="PGAwayTeam"><%= game["TeamNameB"] %></div>
<div id="PGHomeTeamScore"><%= game["TeamAScore"] %></div>
<div id="PGAwayTeamScore"><%= game["TeamBScore"] %></div>
</div>
</div>
<% */ %>
<div class="boardSection">
<div id="boardwinner">WINNER: <%= game["GameWinner"] %></div>
<table id="PGSpoolsTable" <%= game %> >
<tr><th colspan=2 rowspan=2 id="PGSpoolTableBlank"><a id='game' class='gameediticon' <%= game %> href='javascript://' class='edit'>edit</a></th>
    <th colspan=5 class="PGSpoolsTableTeamTop" ><span id="gridTeamNameA"><%= game["TeamNameA"] %></span></th>
</tr>
<tr>
<th class="PGSpoolsScoreHoriz"><%= game["TeamARow1"] %></th>
<th class="PGSpoolsScoreHoriz"><%= game["TeamARow2"] %></th>
<th class="PGSpoolsScoreHoriz"><%= game["TeamARow3"] %></th>
<th class="PGSpoolsScoreHoriz"><%= game["TeamARow4"] %></th>
<th class="PGSpoolsScoreHoriz"><%= game["TeamARow5"] %></th>
</tr>
<tr><th rowspan=6 class="PGSpoolsTableTeamLeft" ><span id="gridTeamNameB"><%= game["TeamNameB"] %></span></th></tr>
<tr>
<th class="PGSpoolsScoreVert"><%= game["TeamARow1"] %></th>
<%var a = 0; var r = 1; for(var i = 0; i < tokens.length ; i++){ a++;
    if( a == 6 ) { a = 1; r++; %></tr><tr><th class="PGSpoolsScoreVert"><%= game["TeamARow"+r] %></th> <%
}%><td <%= tokens[i] %> class="PGGrid" <% if (tokens[i].idOwner == 'game') {%> class="theCrap" <%}
%> ><%= $.View('//spools/views/token/icon',tokens[i])%></td><%}
%>
</table>
</div>

