<%for(var attribute in Spools.Models.Game.attributes){ if(attribute == 'id') continue;%>
<% if ((attribute == 'TeamNameA') || (attribute == 'TeamNameB')) {%>
<div class="infoSection"><div id="heading">Sport</div>
<select name="TypeSport">
    <option value="Baseball">Baseball</option>
    <option value="Football" selected="selected">Football</option>
</select></div></div>
<%} else if (attribute == 'idGameBrd') {%>
<input type='hidden' value="<%= this[attribute]%>" name="<%= attribute%>"/>
<%} else if (attribute == 'GameState') {%>
<div class="infoSection"><div id="heading">Game State</div>
<select name="<%= attribute%>">
    <option value="StartGame">StartGame</option>
    <option value="EndGame">EndGame</option>
    <option value="JoinGame" selected="selected">JoinGame</option>
</select></div>
<%} else if ((attribute == 'TeamAScore') || (attribute == 'TeamBScore')) {%>
<div class="infoSection"><div id="heading"><%= this[attribute]%></div>
<% /* %><input type='hidden' value="<%= this[attribute]%>" name="<%= attribute%>"/><% */ %>
<div class='teamscore'>
<input type='button' value='-' class='gamescoreminus'>
<input type='test' value="<%= this[attribute]%>" name="<%= attribute%>" class='gamescore' />
<input type='button' value='+' class='gamescoreplus'>
</div></div>
<% } else { /*%>
<div class="infoSection"><div id="heading"><%= attribute%></div><input type="text" value="<%= this[attribute]%>" name="<%= attribute%>"/></div>
<% */ }%>
<%}%>
<div class="infoSection">
<input type='submit' value='Update' class='update'/>
<a href='javascript://' class='cancel'>cancel</a>
</div>