<div class="infoSection" >
<% /* %><div id="PGPicksInstructions"><%= game['message'] %></div><% */ %>
<div id="PGPicksSelectionContainer">
<div id="PGHomeTeam"><%= game['TeamNameA'] %></div>
<div id="PGVS">vs</div>
<div id="PGAwayTeam"><%= game['TeamNameB'] %></div>
<div id="PGHomeTeamScore"><%= game['TeamAScore'] %></div>
<div id="PGAwayTeamScore"><%= game['TeamBScore'] %></div>
</div>
</div>

