<div id="officalgameupdate"<%= game %> >
<% /* if (game['GameState'] == 'StartGame') { %>
<div class="infoSection" >
<div id="PGPicksInstructions"><%= game['message'] %></div>
<div id="PGPicksSelectionContainer">
<div id="PGHomeTeam"><%= game['TeamNameA'] %></div>
<div id="PGVS">vs</div>
<div id="PGAwayTeam"><%= game['TeamNameB'] %></div>
<div id="PGHomeTeamScore"><%= game['TeamAScore'] %></div>
<div id="PGAwayTeamScore"><%= game['TeamBScore'] %></div>
</div>
</div>
<% } */
var nextstate;
var editscore;
switch (game['GameState']) {
    case 'JoinGame':
        nextstate = 'StartGame';
        editscore = 'no';
        break;
    case 'StartGame':
        nextstate = 'EndGame';
        editscore = 'yes';
        break;
    case 'EndGame':
        nextstate = 'EndGame';
        editscore = 'no';
        break;
    default:
        nextstate = 'EndGame';
        editscore = 'no';
}
%>
<%if (editscore == 'yes') {%>
<div class="infoSection">
<div class="teamscore">
<div id="heading"><%= game['TeamNameA'] %></div>
<input id="minusbutton" type="button" class="gamescoreminus"/>
<input id="teamscoreedit" type="test" value="<%= game['TeamAScore'] %>" name="TeamAScore" class="gamescore" />
<input id="plusbutton" type="button" class="gamescoreplus"/>
</div>
</div>
<div class="infoSection">
<div class="teamscore">
<div id="heading"><%= game['TeamNameB'] %></div>
<input id="minusbutton" type="button" class="gamescoreminus"/>
<input id="teamscoreedit" type="test" value="<%= game['TeamBScore'] %>" name="TeamBScore" class="gamescore" />
<input id="plusbutton" type="button" class="gamescoreplus"/>
</div>
</div>
<%}%>
<div class="infoSection">
<% /* %>
<div>State: <%= game['GameState'] %></div>
<input class="endgame" type="checkbox" value="<%= nextstate %>" name="GameState"/><%= nextstate %>
<% */ %>
<div class="startgame">
  <div id="squarebuttonTitle"> <input type="radio" name="GameState" value="StartGame" checked/>  Start</div>
</div>
<div class="endgame">
  <div id="squarebuttonTitle">End <input type="radio" name="GameState" value="EndGame"/></div>
</div>
<div class="updategame">
  <input id="squarebuttonTitle" type='submit' value='Update' class='update'/>
</div>
<div class="cancelupdate">
    <a id="squarebuttonTitle" href='javascript://' class='cancel' <%= game %>>Cancel</a>
</div>
</div>
